<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magecaptain" translate="label" sortOrder="600" class="magecaptain_tab">
            <label>Mage Captain</label>
        </tab>
    </system>
</config>